pytorch_triton
-i https://download.pytorch.org/whl/nightly/rocm6.1
torch
-i https://download.pytorch.org/whl/nightly/rocm6.1
torchvision
-i https://download.pytorch.org/whl/nightly/rocm6.1

numpy<2.0.0
pillow 
onnx
pnnx
ncnn
opencv-python
spandrel
onnxruntime

