numpy<2.0.0
pillow
-i https://download.pytorch.org/whl/nightly/rocm6.1
pytorch_triton 
-i https://download.pytorch.org/whl/nightly/rocm6.1
torch 
-i https://download.pytorch.org/whl/nightly/rocm6.1
torchvision 
spandrel>=0.3.3
pyinstaller
onnx
onnxruntime
pnnx
ncnn
opencv-python
